.clock {
    background: #191919;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    padding: 80px 20px;

    &_days {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    &_day {
        color: #8a8a8a;
        text-transform: uppercase;
        font-size: 20px;
        margin: 0 5px;

        &.js--active {
            color: #00FF97;
        }
    }

    &_time {
        width: 100%;
        text-align: center;
        font-size: 150px;
        line-height: 1;
        color: #00FF97;
    }

    &_switch {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 30px;
        color: #8a8a8a;
        font-weight: 600;
        & .clock_format {
            cursor: pointer;
            &.js--active {
                color: #00FF97;
            }
        }
    }
    @media (max-width: 1150px) {
        &_days {
            margin-bottom: 20px;
        }
        &_day{
            font-size: 18px;
        }
        &_time{
            font-size: 80px;
        }
        &_switch{
            margin-top: 20px;
            font-size: 18px;
        }
    }
    @media (max-width: 767px) {
        &_day:not(.js--active){
            display:none;
        }
        &_time{
            font-size: 50px;
        }
        &_format {
            display:block;
            margin-bottom: 5px;
        }
    }
}